@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-image {
  filter: blur(10px);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px 12px;
}

.reasons:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: slide-up-fade-in 0.3s ease-out forwards;
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.modal-content {
  max-width: 100%;
  width: 768px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.text-gradient {
  background: linear-gradient(
    93deg,
    #97ff98 32.88%,
    #fb96ff 51.47%,
    #ab96ff 68.18%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
:root {
  --Shades-Black: #000000;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-ubuntu);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0);
  }
}

.fade-in {
  animation: fadeIn 1s;
}

.rotate-in {
  animation: rotateIn 1s;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}
.custom-card {
  background: linear-gradient(180deg, #b7a5ff 0%, #7957ff 100%);
}

.background-section {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1716802024/Gradient_4_1_tpdi2v.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
}
@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-warning {
    display: block;
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-warning {
    display: none;
  }
}
