.container{
 border-radius: 24px;
background: rgba(25, 29, 35, 0.50);
display:flex;
flex-direction: column;
gap: 32px;
}
.navBar{
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #323A46;
}
.navContext{
    display: flex;
}

.navContext li{
    padding:24px;
}

.list{
    border-bottom: 2px solid #3EFF3E;
}